.wrapper {
  overflow: hidden;
}

.c_article-list-1 > .content > .link, .c_article-list-2 > .content > .source, .c_article-list-2 > .content > .date {
  font-size: 11px;
}

.c_link-marquee {
  text-decoration: none;
  animation: text-marquee 10s linear infinite;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}

@keyframes text-marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.c_article-list-1 {
  list-style-type: none;
  display: flex;
  margin-bottom: 30px;
}
.c_article-list-1:last-child {
  margin-bottom: 0px;
}
.c_article-list-1 > .date-wrapper > .date {
  font-size: 11px;
  margin-top: 4px;
}
.c_article-list-1 > .content {
  margin-left: 30px;
}
.c_article-list-1 > .content > .title {
  display: block;
  margin-top: 0px;
  font-size: 16px;
}
.c_article-list-1 > .content > .desc {
  font-size: 14px;
}
.c_article-list-2 {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  margin-bottom: 30px;
}
.c_article-list-2:last-child {
  margin-bottom: 0px;
}
.c_article-list-2:hover > .content > .title {
  text-decoration: underline;
}
.c_article-list-2 > .img-wrapper {
  min-width: 80px;
  max-width: 80px;
  height: 80px;
}
.c_article-list-2 > .img-wrapper.-wide {
  min-width: 200px;
  max-width: 200px;
  height: 105px;
}
.c_article-list-2 > .img-wrapper > .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c_article-list-2 > .content {
  margin-left: 10px;
}
.c_article-list-2 > .content > .title {
  margin: 0px;
  font-size: 16px;
}
.c_article-list-2 > .content > .source {
  margin-top: 4px;
  margin-bottom: 0px;
  display: inline;
}
.c_article-list-2 > .content > .date {
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  display: inline;
}

.c_article-card-1 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.c_article-card-1 > .img-wrapper {
  background-image: url(../img/sample.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-out;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.c_article-card-1 > .img-wrapper:hover {
  transform: scale(1.1);
}
.c_article-card-1 > .content {
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 40%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c_article-card-1 > .content > .title {
  font-size: 24px;
}
.c_article-card-1 > .content > .tag > .time {
  font-size: 14px;
}
.c_article-card-1 > .content > .tag > .time::before {
  font-family: "Material Icons";
  content: "\e8b5";
  vertical-align: middle;
  margin-right: 2px;
}
.c_article-card-1 > .content > .tag > .view {
  font-size: 14px;
  margin-left: 5px;
}
.c_article-card-1 > .content > .tag > .view::before {
  font-family: "Material Icons";
  content: "\e8f4";
  vertical-align: middle;
  margin-right: 2px;
}

.c_article-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 35px;
  background-color: white;
}
.c_article-card-2 > .upper-contents > .img-wrapper {
  border-radius: 50%;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.c_article-card-2 > .upper-contents > .img-wrapper > .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c_article-card-2 > .upper-contents > .name-title {
  text-align: center;
}
.c_article-card-2 > .upper-contents > .name-title > .name {
  line-height: 1.5;
  margin-bottom: 0;
  font-size: 24px;
}
.c_article-card-2 > .upper-contents > .name-title > .title {
  line-height: 1;
  margin: 0;
  font-size: 16px;
  color: rgb(245, 74, 74);
}
.c_article-card-2 > .SNS {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.c_article-card-2 > .SNS > .icon {
  cursor: pointer;
  color: rgb(245, 74, 74);
}

.c_article-card-3 {
  position: relative;
}
.c_article-card-3 > .img-wrapper {
  width: 100%;
  height: 100%;
}
.c_article-card-3 > .img-wrapper > .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c_article-card-3 > .content-wrapper {
  position: absolute;
  height: 45%;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 50px;
}
.c_article-card-3 > .content-wrapper > .case-wrapper {
  text-align: center;
}
.c_article-card-3 > .content-wrapper > .case-wrapper > .case {
  color: white;
  font-size: 11px;
  text-align: center;
  border: 1px solid white;
  border-radius: 8%;
  padding: 2px;
}
.c_article-card-3 > .content-wrapper > .title-name > .title {
  color: white;
  margin: 0;
  font-size: 14px;
  text-align: center;
}
.c_article-card-3 > .content-wrapper > .title-name > .name {
  color: white;
  margin: 0;
  line-height: 1.2;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.c_article-card-3 > .content-wrapper > .btn-wrapper {
  color: white;
  text-align: center;
}
.c_article-card-3 > .content-wrapper > .btn-wrapper > .c_btn {
  padding: 4px;
  border: 2px solid white;
  font-size: 11px;
}

.separate {
  height: 30px;
  background-color: yellow;
}

.article-1 > .article-wrapper {
  margin: 50px auto;
  max-width: 980px;
  display: flex;
  align-items: flex-start;
}
.article-1 > .article-wrapper > .section-name {
  display: block;
  margin: 0;
  line-height: 1;
  width: 200px;
}
.article-1 > .article-wrapper > .article-list {
  margin-left: 50px;
}

.article-2 > .article-wrapper {
  margin: 50px auto;
  max-width: 600px;
}
.article-2 > .article-wrapper > .section-name {
  display: block;
  line-height: 1;
}
.flex-contena-1 {
  padding: 10px 0px;
  background-color: gray;
}
.flex-contena-1 > .flex-wrapper {
  margin: 50px auto;
  max-width: 1070px;
  display: flex;
  flex-wrap: wrap;
}
.flex-contena-1 > .flex-wrapper > .item {
  width: 32%;
  height: 470px;
}
.flex-contena-1 > .flex-wrapper > .item:not(:nth-child(3n+3)) {
  margin-right: 2%;
}
.flex-contena-1 > .flex-wrapper > .item:nth-child(n+4) {
  margin-top: 20px;
}

.c_full-img-wrapper-1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.c_full-img-wrapper-1 > .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c_full-img-wrapper-2 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.c_full-img-wrapper-2 > .img-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.c_full-img-wrapper-2 > .img-wrapper > .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c_horizon-flex-wrapper-1 {
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
}
.c_horizon-flex-wrapper-1 > .item {
  flex-shrink: 0;
  width: 350px;
  height: 470px;
  margin-right: 10px;
}
.c_horizon-flex-wrapper-1 > .item:last-child {
  margin-right: 0;
}
.c_horizon-flex-wrapper-1 > .item > .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-out {
  animation: zoom-out 5s;
}

@keyframes zoom-out {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}