@use "_variable.scss" as v;
@use "_link-btn.scss";

.c_article-card-1 {
    list-style-type: none;
    display: flex;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0px;
    }
    > .date-wrapper {

    }
    > .date-wrapper > .date {
        font-size: v.$font-xs;
        margin-top: 4px;
    }
    > .content {
        margin-left: 30px;
    }
    > .content > .title {
        display: block;
        margin-top: 0px;
        font-size: v.$font-m;
    }
    > .content > .desc {
        font-size: v.$font-s;
    }
    > .content > .link {
        @extend %c_link;
    }
}

.c_article-card-2 {
    > .img-wrapper {

    }
    > .img-wrapper > .img {

    }
    > .content {

    }
    > .content > .title {

    }
    > .content > .source {

    }
    > .content > .date {
        
    }
}


