@use "_variable.scss" as v;
@use "_link-btn.scss";

.c_article-card-1 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    > .img-wrapper {
        background-image: url(../img/sample.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform .3s ease-out;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    > .img-wrapper:hover {
        transform: scale(1.1);
    }
    > .content {
        position: absolute;
        background-color: white;
        bottom: 0;
        width: 100%;
        height: 40%;
        padding: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    > .content > .title {
        font-size: v.$font-l;
        //文字の超過はPHP側(WordPress)で対応する
    }
    > .content > .tag {

    }
    > .content > .tag > .time {
        font-size: v.$font-s;
    }
    > .content > .tag > .time::before {
        font-family: 'Material Icons';
        content: '\e8b5';
        vertical-align: middle;
        margin-right: 2px;
    }
    > .content > .tag > .view {
        font-size: v.$font-s;
        margin-left: 5px;
    }
    > .content > .tag > .view::before {
        font-family: 'Material Icons';
        content: '\e8f4';
        vertical-align: middle;
        margin-right: 2px;
    }
}

.c_article-card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: white;
    > .upper-contents {

    }
    > .upper-contents > .img-wrapper {
        border-radius: 50%;
        margin: 0 auto;
        width:180px;
        height: 180px;
        overflow: hidden;
    }
    > .upper-contents > .img-wrapper > .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    > .upper-contents > .name-title {
        text-align: center;
    }
    > .upper-contents > .name-title > .name {
        line-height: 1.5;
        margin-bottom: 0;
        font-size: v.$font-l;
    }
    > .upper-contents > .name-title > .title {
        line-height: 1;
        margin: 0;
        font-size: v.$font-m;
        color: rgb(245, 74, 74);
    }
    > .SNS {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }
    > .SNS > .icon {
        cursor: pointer;
        color: rgb(245, 74, 74);
    }
}

