.wrapper {
    padding: 100px;
    &:first-child {
        background-color: #191970;
    }
    // &:first-child {
    //     clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
    // }
    &:first-child > .contena {
        color: white;
    }
    > .contena {
        margin: auto;
        width: 50%;
    }
}

.diagonal {
    width: 100vw;
    height: 150px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0%);
    background-color: #191970;
    animation: diagonal 3s linear forwards;
}