@use "_variable.scss" as v;

.list-wrapper {
    > .list-1 {
        list-style-type: none;
        display: flex;
    }
    > .list-1 > .item {
        font-size: v.$font-s;
        margin-right: 20px;
    }
    > .list-1 > .item:last-child {
        margin-right: 0px;
    }
    > .list-1 > .item > .link {
        text-decoration: none;
        //a要素よliと同じ高さ一杯にする場合
        display: block;
        height: 100%;
    }
}

.item {
    position: relative;
    >.sub-list {
        position: absolute;
        list-style-type: none;
        //非表示時の設定
        opacity: 0;
        transform: scaleY(0);
        transform-origin: center top;
        transition:  0.3s;
    }
    > .sub-list > .sub-item {
        font-size: v.$font-s;
        line-height: 2.0;
        //nowrapを入れないと、親リストの横幅に合わせた幅になってしまう。
        white-space: nowrap;
    }
    &:hover > .sub-list {
        transform: scaleY(1);
        opacity: 1;
    }
    > .sub-list > .sub-item > .sub-link {
        text-decoration: none;
    }
}