.c_progress-bar-circle {
    position: relative;
    width: 120px;
    height: 120px;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -60px;
        width: 120px;
        height: 120px;
        background: #999;
        transform-origin: right 60px;
        z-index: 2;
        animation: rotate-circle-left 5s linear forwards;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 60px;
        width: 120px;
        height: 120px;
        background: #999;
        transform-origin: left 60px;
        z-index: 3;
        animation: rotate-circle-right 5s linear forwards;
    }
    > .inner-circle {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 110px;
        height: 110px;
        background: #fff;
        border-radius: 50%;
        z-index: 4;
    }
    > .inner-circle > .dot {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #333;
        top:50px;
        left: 50px;
        z-index: 5;
    }
}

@keyframes rotate-circle-right {
    0%   {
        transform: rotate(0deg);
        background: #999;
    }
    50%  {
        transform: rotate(180deg);
        background: #999;
    }
    50.01% {
        transform: rotate(360deg);
        background: #333;
    }
    100% {
        transform: rotate(360deg);
        background: #333;
    }
}

@keyframes rotate-circle-left {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}